<div>
    <div style="margin-bottom: 35px; max-width: 300px;">
        <label for="search">Search:</label>
        <input ng-model="defSearch" id="search" class="form-control" placeholder="Filter definitions">
    </div>

    <div dir-paginate="def in swaggerObject.definitions | filterByName:defSearch | itemsPerPage: definitionPageSize"
         style="margin-top: 15px; border-bottom: 1px solid black;"
         current-page="definitionCurrentPage">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" required ng-model="def.name" ng-blur="defNameLoseFocus(def)"></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td><select ng-model="def.type" required ng-options="type for type in definitionTypes"></select></td>
            </tr>
        </table>

        <div ng-switch="def.type" style="margin-bottom: 20px;">

            <div ng-switch-when="array">
                <select ng-model="def.items.type" required
                        ng-options="type for type in innerPropertyTypes"></select>
                <div ng-if="def.items.type == '$ref'">
                    <select ng-model="def.items.$ref" required>
                        <option ng-repeat="(key, val) in swaggerObject.definitions" value="{{prefixDef(key)}}">
                            {{val.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div ng-switch-when="object">
                Properties:
                <table border="1" ng-if="getFieldNames(def.properties).length">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Value</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="prop in def.properties">
                        <td>
                            <input type="text" required ng-model="prop.name" ng-blur="propNameLoseFocus(def, prop)">
                        </td>
                        <td>
                            <input type="text" ng-model="prop.description">
                        </td>
                        <td>
                            <select ng-model="prop.type" required
                                    ng-options="type for type in defPropertyTypes"></select>
                        </td>
                        <td>
                            <div ng-switch="prop.type">
                                <div ng-switch-when="$ref">
                                    <select ng-model="prop.$ref" required>
                                        <option ng-repeat="(key, val) in swaggerObject.definitions"
                                                value="{{prefixDef(key)}}">
                                            {{val.name}}
                                        </option>
                                    </select>
                                </div>
                                <div ng-switch-when="array">
                                    <select ng-model="prop.items.type" required
                                            ng-options="type for type in innerPropertyTypes"></select>
                                    <div ng-if="prop.items.type == '$ref'">
                                        <select ng-model="prop.items.$ref" required>
                                            <option ng-repeat="(key, val) in swaggerObject.definitions"
                                                    value="{{prefixDef(key)}}">
                                                {{val.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <i>No value</i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button" ng-click="deleteProperty(def, prop)">Delete property</button>
                        </td>
                    </tr>
                </table>
                <div ng-if="!getFieldNames(def.properties).length">
                    <span style="font-style: italic;">No properties yet</span>
                </div>

                <br/>
                <button type="button" ng-click="addNewProperty(def)">Add new property</button>
            </div>
            <button type="button" ng-click="deleteDefinition(def)">Delete the definition</button>

        </div>
    </div>
    <button type="button" ng-click="addNewDefinition()">Add new definition</button>

    <div>
        <dir-pagination-controls boundary-links="true"
                                 template-url="./tab_pages/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
</div>