<div>
    <h3>Paths</h3>

<div ng-repeat="path in swaggerObject.paths" style="border-bottom: 5px solid black; margin-top: 15px;">
    <div style="margin-bottom: 25px;">
        <span style="font-size: 16px; font-weight: bold;">URI: </span>
        <input type="text" ng-model="path.name" ng-blur="pathNameLoseFocus(path)">
    </div>

    <div ng-repeat="(methName, method) in path" ng-if="isHttpMethod(methName)"
         style="border-bottom: 1px solid black; margin-bottom: 20px;">

        <table>
            <tr>
                <td>Method:</td>
                <td>{{method.name}}</td>
            </tr>
            <tr>
                <td>Summary:</td>
                <td><input type="text" ng-model="method.summary" style="width: 400px;"></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea ng-model="method.description" rows="6" cols="60"></textarea></td>
            </tr>
            <tr>
                <td>Produces:</td>
                <td><select ng-model="method.produces[0]" ng-options="p for p in contentTypes"></select></td>
            </tr>
        </table>

        <h3>Tags</h3>
        <span ng-repeat="tag in method.tags">
            {{tag}} <a ng-click="removeTagFromMethod(method, $index)" tooltip="Remove the tag">X</a>
        </span> <br />
        <select ng-model="selectedTag.selected" ng-options="tag.name for tag in swaggerObject.tags"></select>
        <button ng-show="selectedTag.selected" type="button" ng-click="addTagToMethod(method)">Add tag</button>

        <h3>Parameters</h3>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>In</th>
                <th>Description</th>
                <th>Required</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="param in method.parameters">
                <td><input required type="text" ng-model="param.name"></td>
                <td><select required ng-model="param.in" ng-options="i for i in paramIn"></select></td>
                <td><input type="text" ng-model="param.description"></td>
                <td><input type="checkbox" ng-model="param.required" style="width: 100%;"></td>
                <td>
                    <select required ng-model="param.type"
                            ng-change="paramTypeChanged(param)"
                            ng-options="type for type in defPropertyTypes"></select>
                    <div ng-if="param.type == '$ref'">
                        <select ng-model="param.schema.$ref" required>
                            <option ng-repeat="(key, val) in swaggerObject.definitions" value="{{prefixDef(key)}}">
                                {{val.name}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><button type="button" ng-click="deleteParam(method, $index)">Delete</button></td>
            </tr>
        </table>
        <button type="button" ng-click="addParam(method)">Add new parameter</button>

        <h3>Responses</h3>
        <table border="1">
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Schema type</th>
                <th>Schema</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat="response in method.responses">
                <td><input type="number" required min="{{minCode}}" max="{{maxCode}}" ng-model="response.name"></td>
                <td><input type="text" ng-model="response.description"></td>
                <td>
                    <select ng-model="response.schema.type" ng-options="type for type in definitionTypes"></select>
                </td>
                <td>
                    <div ng-switch="response.schema.type">
                        <select ng-switch-when="array" ng-model="response.schema.items.$ref" required>
                            <option ng-repeat="(key, val) in swaggerObject.definitions" value="{{prefixDef(key)}}">
                                {{val.name}}
                            </option>
                        </select>
                        <select ng-switch-default ng-model="response.schema.$ref" required>
                            <option ng-repeat="(key, val) in swaggerObject.definitions" value="{{prefixDef(key)}}">
                                {{val.name}}
                            </option>
                        </select>
                    </div>
                </td>
                <td><button type="button" ng-click="deleteResponse(method, response)">Delete</button></td>
            </tr>
        </table>
        <button type="button" ng-click="addResponseCode(method)">Add response</button>
        <button type="button" ng-click="deleteHttpMethod(path, method.name)">Delete method</button>

    </div> <!-- Method -->
    <div ng-if="path.freeHttpMethods.length > 0">
        Available methods for creation:
        <select ng-model="methodToCreate" ng-options="meth for meth in path.freeHttpMethods"></select>
        <button type="button" ng-click="addHttpMethod(path, methodToCreate)">Add new method</button>
    </div>
    <button type="button" ng-click="deletePath(path)">Delete path</button>

</div> <!-- Path -->
<button type="button" ng-click="addNewPath()">Add new path</button>
</div>